@mixin square($x) {
  width: $x;
  height: $x;
}

@mixin circle($x) {
  @include square($x);
  border-radius: 50%;
}

@mixin colors {
  &--white { color: #fff; }
  &--black { color: $black; }
  &--gold { color: $gold; }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin posCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin horizPosCenter($direction) {
  position: absolute;

  @if ($direction == left) {
    left: 50%;
    transform: translateX(-50%);
  } @else if ($direction == right) {
    right: 50%;
    transform: translateX(50%);
  }
}

@mixin vertPosCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// MEDIA QUERY MANAGER
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs { @media only screen and (max-width: 25em) { @content }; } // 400px
  @else if $breakpoint == sm { @media only screen and (max-width: 28.125em) { @content }; } // 600px
  @else if $breakpoint == md { @media only screen and (max-width: 50em) { @content }; } // 800px
  @else if $breakpoint == lg { @media only screen and (max-width: 65em) { @content }; } // 1040px 
  @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined.';
  }
}