@mixin square($x) {
  width: $x;
  height: $x;
}

@mixin circle($x) {
  @include square($x);
  border-radius: 50%;
}

@mixin colors {
  &--white { color: #fff; }
  &--black { color: $black; }
  &--gold { color: $gold; }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}