// colours
$black: #202020;
$black2: #1a1a1a;
$gold: #daa66f;
$lightGrey1: #f6f6f6;
$lightGrey2: #e5e5e5;
$darkGrey1: #a0a0a0;
$darkGrey2: rgba(255, 255, 255, 0.2);
$darkGrey3: #3a3a3a;
$darkGrey4: #535353;
$darkGrey5: #4d4d4d;
$darkGrey6: #606060;

// fonts
$primaryFont: 'Droid Serif', serif;
$secondaryFont: 'Montserrat', sans-serif;