.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  background-image: 
    linear-gradient(rgba(#000, .3), rgba(#000, .3)),
    url(../img/hero.jpg)
  ;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;

  &__nav {
    width: 100%;
    position: fixed;
    justify-content: space-between;
    padding: 2rem 5rem;
    z-index: 9999;
  }
  
  &__links {
    margin: 0 10rem;
    flex: 1;
  }

  &__social.social,
  &__links.nav__links {
    @include respond-to(lg) {
      display: none;
    }
  }

  &__slider {
    bottom: 9rem;
    @include horizPosCenter(left);
  }
}