.btn {
  &,
  &:visited,
  &:link {
    font-size: 1.1rem;
    font-family: $secondaryFont;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem 2rem;
    text-transform: uppercase;
  }

  &--primary {
    color: $black;
    border: 1px solid $black;
    
    &:hover {
      background-color: $gold;
      border: 1px solid transparent;
      color: #fff;
    }
  }
}

.page-btn {
  @include square(3rem);
  background-color: transparent;
  border: 1px solid $black;
  transition: all .2s;
  cursor: pointer;

  &--left {
    margin-right: 1.5rem;
  }

  &:hover {
    background-color: $gold;
    color: white;
    border: 1px solid transparent;
  }
}

.page-controls {
  display: flex;
  justify-content: center;
}

.page-number-btn {
  font-size: 2.5rem;
  font-weight: 700;
  color: $lightGrey2;
  transition: all .2s;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover {
    color: $gold;
    border-bottom: 1px solid currentColor;
  }
}