.gallery-slider {
  display: flex;
  justify-content: center;

  @include respond-to(sm) {
    flex-direction: column;
  }

  &__btn {
    font-family: $secondaryFont;
    cursor: pointer;
    background-color: $black;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    transition: all .2s;
    border: 1px solid #fff;

    &--first {
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      @include respond-to(sm) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &--last {
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      @include respond-to(sm) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }


    &:hover {
      background-color: $gold;
    }
  }
}