.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  @include circle(7rem);
  position: absolute;
  box-shadow: 0 0 0 .5rem $darkGrey2;
  
  &--gold {
    background-color: $gold;
  }
  
  &--white {
    background-color: #fff;
  }  

  &--top {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}