.logo {
  font-family: $secondaryFont;
  border: 1px solid $gold;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  
  &--desktop {
    font-size: 2.5rem;
    padding: .5rem 1rem;
  }
}