.nav {
  display: flex;
  align-items: center;

  &__links {
    font-size: 1.4rem;
    font-family: $secondaryFont;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &__link {
    display: inline-block;
    color: #fff;
    padding: 1rem 2rem;
  }
  
  &__item {
    border: 1px solid transparent;
    transition: all .2s;
    &:hover {
      color: $gold;
      border-color: $gold;
    }
  }
}

.mobile-nav-container {
  height: 100%;
  width: 0; // change with JS
  position: fixed; 
  z-index: 999999; 
  top: 0; 
  right: 0;
  overflow-x: hidden; 
  transition: 0.5s; 
  background: $black;
}

.mobile-nav {
  &__nav {
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__links {
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
  }

  &__social.social {
    font-size: 2.4rem;
  }
}