.overlap {
  display: flex;
  @include respond-to(md) {
    flex-direction: column;
  }

  > * {
    width: percentage(1 / 2);

    @include respond-to(md) {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
  }

  &__figure {
    z-index: 1;
  }

  &__content {
    z-index: 10;
    background-color: #fff;
    padding: 8rem 6rem;
    transform: scale(.9) translateX(-10rem);

    @include respond-to(md) {
      transform: none;
    }
  } 
}

.figure {
  position: relative;
  display: inline-block; // so slider centers (item will only take up it's own width)

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__slider {
    position: absolute;
    bottom: 10%;
  }
}