.overlap {
  display: flex;

  > * {
    width: percentage(1 / 2);
  }

  &__figure {
    z-index: 1;
  }

  &__content {
    z-index: 10;
    background-color: $white;
    padding: 8rem 6rem;
    transform: scale(.9) translateX(-10rem);
  } 
}

.figure {
  position: relative;
  display: inline-block; // so slider centers (item will only take up it's own width)

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__slider {
    position: absolute;
    bottom: 10%;
  }
}