.service {
  display: flex;
  position: relative;

  @include respond-to(md) {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  &__icon-container {
    position: absolute;
    top: 0;
    right: -8rem; // offset padding
    transform: translate(50%, 50%);

    @include respond-to(md) {
      order: -1;
      position: static;
      transform: none;
      margin-bottom: 3rem;
    }
  }

  &:not(:last-child) {
    margin-bottom: 6rem;
  }
}