.title-decoration {
  display: inline-block; 
  position: relative;
  margin-top: 1rem;

  &__item {
    @include square(.9rem);
    background-color: $gold;
    transform: rotate(45deg);
    border: 1px solid #fff;
  }

  &::before, 
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 5.5rem;
    background-color: $darkGrey1;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    
  }

  &::before {
    left: calc(5.5rem - 2 * .9rem);
  }
  
  &::after {
    // multiply by -1 to set item to opposite site 
    // exact same distance away from square as before & account for size of square
    left: calc(-1 * (calc(5.5rem - 2 * .9rem) - .9rem));
  }
}