@keyframes moveInFromBottom {
  // starts off invisible and 10rem below origin
  0% {
    opacity: 0;
    top: 60%;
    transform: translateY(10rem, -50%); 
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}