*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}


body {
  font-weight: 400;
  font-family: $primaryFont;
}

.wrapper {
  max-width: 117rem;
  margin: 0 auto;
}