[class^="heading-"] {
  font-family: $secondaryFont;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 2rem;
  font-weight: 700;
}

.heading-3 {
  font-size: 1.5rem;
}

.italic-text {
  font-size: 1.1rem;
  font-style: italic;
}

.paragraph {
  font-size: 1.4rem;
}