.center-text { text-align: center !important;}
.margin-bottom-sm { margin-bottom: 2rem !important; }
.margin-bottom-md { margin-bottom: 4rem !important; }
.margin-bottom-lg { margin-bottom: 6rem !important; }
.margin-bottom-xl { margin-bottom: 8rem !important; }

.double-underline { 
  &--right {
    &::after,
    &::before {
      right: 0;
    }    
  }

  &::after,
  &::before {
    background-color: currentColor;
    position: absolute;
    content: '';
    display: block;
    height: 1px;
  }
  
  &::before {
    width: calc(2 * 2.5rem);
    bottom: 0;
  }
  
  &::after {
    width: 2.5rem;
    bottom: -4px;
  }
 }


.single-underline {
  &:after {
    content: '';
    display: block;
    background-color: $darkGrey1;
    width: 30px;
    height: 2px;
    text-align: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
  }
}