.about {
  background-color: $lightGrey1;
  padding: 12rem 0;
  position: relative;

  &__content {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__text {
    margin: 4rem 0;
  }
}

.services {
  display: flex;
  
  > * {
    width: 50%;
  }

  &--left {
    background-color: $black;
    padding: 10rem 8rem;
  }
  
  &__content {
    position: relative;
    text-align: right;
  }

  &__img {
    background-image: url(../img/services_img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  &__slider {
    position: absolute;
    top: 50%;
    left: 1rem;
  }
}

.work {
  padding: 10rem 0;
  &__content {
    text-align: center;
  }
}

.facts {
  background-image: 
  linear-gradient(rgba(#000, .4), rgba(#000, .4)),
  url(../img/fun_facts.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 10rem 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;
  }
}

.process {
  position: relative;
  padding: 10rem 0;

  &__icon-container {
    margin-bottom: 3rem;
  }

  &__text {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__content {
    @include flexCenter;
    flex-direction: column;
    text-align: center;
  }

  &__icon-container {
    @include flexCenter;
    @include circle(8.8rem);
    background-color: $black;
  }
}

.testimonial {
  position: relative;
  background-color: $black;
  padding-top: 9rem;

  &__text {
    text-align: center;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__slider-button {
    position: absolute;
    top: 50%;
    padding: 1rem;
    transform: translateY(-50%);
    background-color: $lightGrey2;
    border: none;
    font-size: 1.4rem;

    &--left {
      left: -.5rem;
    }

    &--right {
      right: -.5rem;
    }

    &:hover {
      background-color: $gold;
    }
  }

  &__client {
    margin-bottom: 6rem;
  }

  &__img-container {
    @include flexCenter;
    width: percentage(1 / 5);
    padding: 3.5rem 7rem;
    background: $darkGrey3;
    &:not(:last-child) {
      border-right: 1px solid $darkGrey4;
    }
  }
}

.contact {
  padding: 10rem 0;

  &__text {
    text-align: center;
    margin-bottom: 6rem;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 3rem;
  }

  &__input {
    // all inputs on left 
    grid-column: 1 / 2;    
  }

  &__textarea {
    grid-row: 1 / 4;
    // takes up remaining
    grid-column: 2 / -1;
    min-height: 22rem;
    max-height: 22rem;
  }

  &__button--submit {
    grid-row: 4/ -1;
    // span entire and center
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
  }
}